<settings>

    <setting propertyKey="@Properties.isShowNumbers" title="@Strings.isShowNumbersTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.isBasicHand" title="@Strings.isBasicHandTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
